/**
 * Responsive Styles
 */

/* Responsive larger than 450px screen */
@media (min-width: 450px) {
  /* Portfolio, Blog */
  .project-img,
  .blog-banner-box {
    height: auto;
  }
}

/* Responsive larger than 580px screen */
@media (min-width: 580px) {
  /* Custom Property */
  :root {
    /* Typography */
    --fs-1: 32px;
    --fs-2: 24px;
    --fs-3: 26px;
    --fs-4: 18px;
    --fs-6: 15px;
    --fs-7: 15px;
    --fs-8: 12px;
  }

  /* Reused Style */
  .sidebar,
  article {
    width: 520px;
    margin-inline: auto;
    padding: 30px;
  }

  .article-title::after {
    width: 40px;
    height: 5px;
  }

  .icon-box {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    font-size: 18px;
  }

  /* Main */
  main {
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
  }

  /* Sidebar */
  .sidebar {
    max-height: max-content;
    height: 100%;
    margin-bottom: 0;
    padding-top: 60px;
    position: sticky;
    top: 60px;
    z-index: 1;
  }

  .sidebar.active {
    max-height: 584px;
  }

  .avatar-box img {
    width: 150px;
  }

  .info_more-btn ion-icon {
    display: none;
  }

  /* Testimonials */
  .testimonials-avatar-box img {
    width: 80px;
  }

  /* Testimonials Modal */
  .modal-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-avatar-box img {
    width: 80px;
  }

  /* Clients */
  .clients-list {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
  }

  .clients-item {
    flex: 0 0 auto;
    margin-right: 15px;
  }

  .client-title {
    color: #ffd76c;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    display: block;
  }

  /* Portfolio, Blog */
  .project-img,
  .blog-banner-box {
    border-radius: 16px;
  }
}

/* Responsive larger than 768px screen */
@media (min-width: 768px) {
  /* Reused Style */
  .sidebar,
  article {
    width: 700px;
  }

  .has-scrollbar::-webkit-scrollbar-button {
    width: 100px;
  }

  /* Portfolio */
  .filter-item button {
    color: var(--light-gray);
    font-size: var(--fs-5);
    transition: var(--transition-1);
  }

  .filter-item button:hover {
    color: var(--light-gray-70);
  }

  .filter-item button.active {
    color: var(--orange-yellow-crayola);
  }

  /* Portfolio and Blog Grid */
  .project-list,
  .blog-posts-list {
    grid-template-columns: 1fr 1fr;
  }
}

/* Responsive larger than 1024px screen */
@media (min-width: 1024px) {
  /* Custom Property */
  :root {
    /* Shadow */
    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.125);
  }

  /* Reused Style */
  .sidebar,
  article {
    width: 950px;
    box-shadow: var(--shadow-5);
  }

  /* Main */
  .main-content {
    position: relative;
    width: 75%;
    min-width: 75%;
    margin: 0 auto;
  }
}

/* Responsive larger than 1250px screen */
@media (min-width: 1250px) {
  /* Reset */
  body::-webkit-scrollbar {
    width: 20px;
  }

  body::-webkit-scrollbar-track {
    background: var(--smoky-black);
  }

  body::-webkit-scrollbar-thumb {
    border: 5px solid var(--smoky-black);
    background: hsla(0, 0%, 100%, 0.1);
    border-radius: 20px;
    box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
      inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
  }

  body::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 100%, 0.15);
  }

  body::-webkit-scrollbar-button {
    height: 60px;
  }

  /* Reused Style */
  .sidebar,
  article {
    width: auto;
  }

  article {
    min-height: 100%;
  }

  /* Main */
  .main-content {
    min-width: 75%;
    width: 75%;
    margin: 0;
  }

  /* Sidebar */
  .contact-info :is(.contact-link) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .contact-info :is(.contact-link, time, address) {
    --fs-7: 14px;
    font-weight: var(--fw-300);
  }

  .separator:last-of-type {
    margin: 15px 0;
    opacity: 0;
  }
} 